#%RAML 1.0
title: Grooves DB API
version: v1
baseUri: https://api.groovesdb.com.au
/artists:
  displayName: artists
  /{artistId}:
    uriParameters: 
      artistId:
        description: Id of artist
        type: string
        required: true
    get:
      description: Retrieve artist and releases including sales given the Id
      responses: 
        200:
          body: 
            application/json:
              example: |
                {
                  "Artist 1": [
                    "name: DAvid Bowie",
                    "alias: David Bowie",
                    "profile: profile",
                    "sites: sites",
                      {
                      "Release 1": [
                        "title: Changes One",
                        "year: 1970",
                        {
                          "Sales 1": [
                            "source: discogs url",
                            "cost: $25",
                            "cat#: SD 7201",
                            "country: UK",
                            "media: VG+",
                            "sleeves: VG+",
                            "location: Italy",
                            "details: "
                            ],
                          "Sales 2": [
                            "source: discogs url",
                            "cost: $25",
                            "cat#: SD 7201",
                            "country: UK",
                            "media: VG+",
                            "sleeves: VG+",
                            "location: Italy",
                            "details: "
                            ],
                        }
                      ],
                      "Release 2": [
                        "title: Hunky Dory",
                        "year: 1973"
                      ]
                    }
                  ],
                  "Artist 2": [
                    "name: David Bowie and Spiders from Mars",
                    "alias: Pinups",
                    "profile: profile",
                    "sites: sites"
                  ]
                }

    